

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: auto;
}


form {
    background: #fff;
    padding: 50px;
    align-self: center;
    margin-top: 20vh;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    min-width: 200px;
}

.logo-label {
    display: block;
    width: 200px; 
    height: 150px;
    align-self: center;
    background-image: url('/static/images/arvore.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 65px;
}


.form-group {
    margin-bottom: 20px;
    width: auto;
    padding-right: 0;
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    width: 300px;
    padding: 10px;
    border: 1px solid #36A1B9;
    border-radius: 4px;
}

button {
    padding: 10px 39px;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;

}

button:hover {
    background-color: #003d7a;
}

.error {
    color: red;
    margin-bottom: 15px;
}

input[type=text], input[type=senha] {
    width: 85%;
}