<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Novo Parceiro Estratégico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <img src="{{ url_for('static', filename='images/logo-ai.png.') }}" alt="imagem-ilustrativa", class="logo-ai">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#servico">Serviço</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="#login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="hero">
            <h1>Seu Novo Parceiro Estratégico para a Tomada de Decisões</h1>
            <p>Num mundo onde as incertezas valem dinheiro, uma mãozinha da IA viria bem a calhar.</p>
        </section>
        <section id="actions">
            <button>Entrar</button>
            <button>Criar conta</button>
        </section>
    </main>
</body>
</html>
