<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
</head>
<body>
    <form action="/login" method="post">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <div class="form-group">
            <label for="logo" class="logo-label"></label>
        </div>
        <div class="form-group">
            <label style="font-size: 32px" for="Log In">Log In</label>
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <div class="form-group link-group-2">
            <button type="submit" href="{{ url_for('home')}}">Entrar</button>
            <span></span>
            <a for="voltar" class = "outras-paginas-vermelho" href="{{ url_for('home') }}">Voltar</a>
        </div>
        <div class="form-group link-group">
            <a for="esqueceu a senha?" class = "outras-paginas-azul" href="{{ url_for('recuperar_senha') }}">Esqueceu a Senha?</a>
            <span></span>
            <a for="criar conta" class = "outras-paginas-azul" href="{{url_for('register')}}">Criar Conta</a>
        </ul>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script>
      alert("{{ messages[0] }}");
      </script>
    {% endif %}
  {% endwith %}
</body>
</html>
