<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_register.css')}}">
</head>
<body>
    <form id="registro", method="post">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Registrar</button>
    </form>
</body>
</html>
