<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_register.css')}}">
</head>
<body>
    <form id="registro", method="post">
        <div class="form-group">
            <label for="logo" class="imagem-label"></label>
        </div>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <label for="password2">Confirmar Senha:</label>
        <input type="password2" id="password2" name="password2" required>

        <label for="empresa">Empresa:</label>
        <input type="empresa" id="empresa" name="empresa" required>

        <label for="cidade">Estado:</label>
        <!---<input type="cidade" id="cidade" name="cidade" required>-->
        <select id="estado" name="estado">
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
            <option value="EX">Estrangeiro</option>
        </select>

        <label for="telephone">Telephone:</label>
        <input type="telephone" id="telephone" name="telephone" required>

        <button type="submit" href="{{ url_for('login') }}">Registrar</button>
    </form>

</body>
</html>
